﻿<@charset "UTF-8";>

/* ------------------------------
  --画像サイズ 
------------------------------ */

/* リサイズ */
.resizeimage img{
   width: 100%;
}

/* 規定サイズ */
.defsizeimage img{
   height: 936px;
   width: 648px;
}

/* ------------------------------
  --画像表示位置 
------------------------------ */

/* ベース */
.relative {
    position: relative;
    width: 648px;
}

/* -------------
  AISHome:概要
----------------*/
/* AisHome1 */
.absolute_home1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* AisHome1_01 */
.absolute_home101 {
    position: absolute;
    left: 0px;
    top: 630px;
}

/* -------------
  AISHome:共通
----------------*/
/*  AisHome2 */
.absolute_home2 {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* AisHome2_01 */
.absolute_home201 {
    position: absolute;
    left: 0px;
    top: 950px;
}

/* AisHome2_03 */
.absolute_home203 {
    position: absolute;
    left: 0px;
    top: 1700px;
}

/* AisHome2_04 */
.absolute_home204 {
    position: absolute;
    left: 0px;
    top: 2550px;
}

/* AisHome2_05 */
.absolute_home205 {
    position: absolute;
    left: 0px;
    top: 3400px;
}

/* AisHome2_06 */
.absolute_home206 {
    position: absolute;
    left: 0px;
    top: 4000px;
}

/* AisHome2_07 */
.absolute_home207 {
    position: absolute;
    left: 0px;
    top: 4900px;
}

/* -------------
  標準 
----------------*/

/* オンライン */
.absolute_StandardTemplate2 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.absolute_StandardTemplate201 {
    position: absolute;
    left: 0px;
    top: 850px;
}

/* バルキー */
.absolute_StandardTemplate3 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.absolute_StandardTemplate301 {
    position: absolute;
    left: 0px;
    top: 760px;
}

/* 緊急通報 */
.absolute_StandardTemplate4 {
    position: absolute;
    left: 0px;
    top: 0px;
}


/* DAC */
.absolute_StandardTemplate5 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.absolute_StandardTemplate501 {
    position: absolute;
    left: 0px;
    top: 920px;
}

/* ステータスモニター */
.absolute_StandardTemplate5 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.absolute_StandardTemplate501 {
    position: absolute;
    left: 0px;
    top: 950px;
}
.absolute_StandardTemplate502 {
    position: absolute;
    left: 0px;
    top: 1850px;
}
.absolute_StandardTemplate503 {
    position: absolute;
    left: 0px;
    top: 2650px;
}
.absolute_StandardTemplate504 {
    position: absolute;
    left: 0px;
    top: 3200px;

