﻿<@charset "UTF-8";>

/* ------------------------------
  --画像サイズ 
------------------------------ */

/* リサイズ */
.resizeimage img{
   width: 100%;
}

/* 規定サイズ */
.defsizeimage img{
   height: 936px;
   width: 648px;
}

/* ------------------------------
  --画像表示位置 
------------------------------ */

/* ベース */
.relative {
    position: relative;
    width: 648px;
}

/* -------------
  AISHome:概要
----------------*/
/* AisHome1 */
.absolute_home1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* AisHome1_01 */
.absolute_home101 {
    position: absolute;
    left: 0px;
    top: 830px;
}

/* -------------
  DAC:階層DAC
----------------*/
/*  DAC1 */
.absolute_DAC1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* DAC2 */
.absolute_DAC2 {
    position: absolute;
    left: 0px;
    top: 960px;
}

/* DAC3 */
.absolute_DAC3 {
    position: absolute;
    left: 0px;
    top: 000px;
}

/* DAC4 */
.absolute_DAC4 {
    position: absolute;
    left: 0px;
    top: 860px;
}

/* DAC5*/
.absolute_DAC5 {
    position: absolute;
    left: 0px;
    top: 1750px;
}
/* DAC6*/
.absolute_DAC6 {
    position: absolute;
    left: 0px;
    top: 2200px;
}
